<% layout("/layout/boilerplate") -%>
    <div class="container">
        <nav>
            <div class="logo">E-Shop</div>
              <div>
                  <a href="/">Home</a>
                  <a href="/about">About</a>
                  <a href="/contact">Contact</a>
                  <a href="/cart">Cart</a>
              </div>
          </nav>
        <h1 class="header">Checkout</h1>
        <div class="cart">
            <% for(cart of allCart) { %>
            <div class="cart-item">
                <a href="/product/<%= cart.product_id %>">
                <img src="<%= cart.image.url %>" alt="Product Image">
            </a>
                <div class="item-details">
                    <h3><%= cart.name %></h3>
                    <p><%= cart.price %></p>
                    <input type="number" value="1" class="quantity">
                </div>
                <form action="/cart/<%= cart._id %>?_method=delete" method="post">
                <button class="remove-btn">Remove</button>
            </form>
            </div>
            <% } %>
        </div>

        <div class="checkout-summary">
            <div class="summary-item">
                <p>Subtotal:</p>
                <p class="subtotal">
                    <% let sum = 0 %>
                    <% for (cart of allCart) { %>
                        <% sum = cart.price + sum %>
                        <% } %>
                        <%= sum %>
                </p>
            </div>
            <div class="summary-item">
                <p>Shipping:</p>
                <p class="shipping"> 100</p>
            </div>
            <div class="summary-item">
                <p>Total:</p>
                <p class="total"></p>
            </div>

            <button class="checkout-btn">Proceed to Checkout</button>
        </div>
    </div>

    <script >
//         document.querySelectorAll('.remove-btn').forEach(button => {
//     button.addEventListener('click', function () {
//         this.closest('.cart-item').remove();
//         updateSummary();
//     });
// });

document.querySelectorAll('.quantity').forEach(input => {
    input.addEventListener('input', function () {
        updateSummary();
    });
});

function updateSummary() {
    let subtotal = 0;
    document.querySelectorAll('.cart-item').forEach(item => {
        const price = parseFloat(item.querySelector('p').textContent.replace('&#8377', ''));
        const quantity = item.querySelector('.quantity').value;
        subtotal += price * quantity;
    });

    const shipping = 100.00;
    const total = subtotal + shipping;

    document.querySelector('.subtotal').textContent = `${subtotal.toFixed(2)}`;
    document.querySelector('.shipping').textContent = `${shipping.toFixed(2)}`;
    document.querySelector('.total').textContent = `${total.toFixed(2)}`;
}

updateSummary();

    </script>
