<% layout("/layout/boilerplate") -%>
    <header>
        <h1>E-commerce Store</h1>
        <span class="header-links">
                <% if(!currUser){ %>
            <a href="/login">Log-in</a>
            <a href="/signup">Sign-up</a>
            <% }  %>
            <% if(currUser){ %>
            <a href="/logout">Log-Out</a>
            <% } %>
        </span>
    </header>
    <nav>
      <div class="logo">E-Shop</div>
      <div class="search-bar">
        <input type="text" id="search" placeholder="Search products...">
        <button onclick="searchProducts()">Search</button>
    </div>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/cart">Cart</a>
            <span class="profile">
                <a href="/profile">
                <i class="bi bi-person-circle"></i>
            </a>
            <% if(currUser) {%>
            <% if(currUser._id == "678e77b54236dd79787dd74c"){ %>
            <a href="/add_category">
                <i class="bi bi-plus-circle"></i>
            </a>
            <% } %>
            <% } %>
        </span>
        </div>
    </nav>
    <section class="hero">
        <h1>Welcome to Our Store!</h1>
        <p>Find the best products at unbeatable prices.</p>
    </section>
    <section class="products">
        <% for(category of allCategory){ %>
                <div class="product">
                    <a href="/category/<%= category._id %>">
                    <img src="<%= category.image.url %>">
                        </a>
                    <h3><%= category.type %></h3>
                    <p><%= category.description %></p>
                    <% if(currUser) {%>
                        <% if(currUser._id == "678e77b54236dd79787dd74c"){ %>
                     <form action="/category/<%=category._id%>?_method=delete" method="post">
                    </button type="submit" class="btn"><button>
                    </form>
                    <% } %>
            <% } %>
                </div>       
            <% } %>
    </section>
    <footer>
        <p>&copy; 2025 My E-commerce Store. All rights reserved.</p>
    </footer>

    <script>
        function searchProducts() {
            const query = document.getElementById('search').value.toLowerCase();
            const products = document.querySelectorAll('.product');

            products.forEach(product => {
                const productName = product.querySelector('h3').innerText.toLowerCase();
                if (productName.includes(query)) {
                    product.style.display = 'block';
                } else {
                    product.style.display = 'none';
                }
            });
        }
    </script>
