<% layout("/layout/boilerplate") -%>
<header>
        <h1>E-commerce Store</h1>
    </header>
    <nav>
      <div class="logo">E-Shop</div>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/cart" type="button" class=" position-relative">
                Cart
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <%= countCart %>
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
        </div>
    </nav>

    <header id="sub-header">
        <h3>Product Details</h3>
    </header>

    <div class="container">
        <div class="product-wrapper">
            <div class="product-image">
                <img src="<%= product.image.url %>" alt="Product Image">
            </div>
            <div class="product-details">
                <h1><%= product.name %></h1>
                <p><%= product.description %></p>
                <div class="rating">
                    <span>&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                    <p>(4.0/5.0)</p>
                </div>
                <p class="price">Size : <%= product.size%></p>
                <p class="price">Colour : <%= product.color%></p>
                <p class="price">&#8377; <%= product.price.toLocaleString("en-In") %></p>
                <form action="/cart/<%= product._id %>" method="post">
                <button class="add-to-cart" id="add-cart" type="submit">Add to Cart</button>
            </form>
                <button class="add-to-cart">Pay Now</button>
            </div>
        </div>

        <div class="reviews">
            <div>
            <h2>Customer Reviews</h2>
            <a href="/product/<%= product._id %>/review">Leave Review</a>
        </div>
            <div class="review">
                <h4>John Doe</h4>
                <p>Amazing product! Highly recommend.</p>
            </div>
            <div class="review">
                <h4>Jane Smith</h4>
                <p>Good quality but took a while to deliver.</p>
            </div>
        </div>

        

    <footer>
        <p>&copy; 2025 My E-commerce Store. All rights reserved.</p>
    </footer>
<script>

    let cartButton = document.querySelector("#add-cart");
    cartButton.addEventListener("click",async function(){
        const res = await fetch(`/cart/${product._id}`,{method:"post"})
        console.log("click")
    });
</script>
